@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --white-custom: #fbfbfd;
  --black-custom: #18181b;
  --green-custom: #15f366;
  --form-padding-side: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  outline: none;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  background-color: var(--white-custom);
  box-shadow: 0px 1px 7px 1px #6a6a6bb2;

  padding: 20px;
  margin-bottom: 20px;
}
nav h1 {
  font-size: 2.45rem;
  text-shadow: 1px 1px 1px rgba(32, 37, 32, 0.726);
}

.addBookDiv {
  margin: auto;
  width: 95%;
  max-width: 100%;
  
  display: grid;
  align-items: center;
  justify-content: center;
}
#addBook {
  padding: 10px 0 0;
  background-color: inherit;
  border: none;

  color: #409158;
  text-shadow: 2px 2px 1px rgba(72, 218, 53, 0.479);
  font-weight: bold;
  font-size: 2rem;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
  z-index: 100;
  
  background-color: rgba(5, 10, 5, 0.61);

  display: none;
  align-items: center; 
}
form {
  background-color: var(--white-custom);
  border-radius: 5px;

  display: grid;
  padding: 40px var(--form-padding-side);
}
form > * {
  margin: 9px;
}
form h2 {
  font-size: 1.6rem;
  padding: 0 0 3px;
}
form input {
  background-color: var(--white-custom);
  padding: 5px 2px 3px;

  border: none;
  border-bottom: 1px solid var(--black-custom);
  transition: .7s;
}
.validCheck:invalid {
  border-bottom-color: #ef4444;
}
.validCheck:valid {
  border-bottom-color: var(--green-custom);
}
form .checkboxdiv {
  display: flex;
  align-items: center;
  gap: 8px;
}
form .checkboxdiv > * {
  cursor: pointer;
}
form .checkbox {
  -webkit-appearance: none;
  appearance: none;
  
  position: relative;
  bottom: 1px;

  padding: 10px;

  background-color: var(--white-custom);
  border: 1px solid var(--black-custom);
  border-radius: 2px;
  transition: 0s;
}
form .checkbox:checked {
  padding: 2px 5.5px 4px;
  background-color: var(--green-custom);
}
form .checkbox:checked::after { 
  display: block;
}
form .checkbox::after {
  content: "";
  display: none;

  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
form ::placeholder,
form label,
form input,
form button {
  font-size: 1.35rem;
}
form button {
  background-color: var(--green-custom);
  padding: 8px;

  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: .5s;
}
form #cancel {
  background-color: #ef4444;
}
form button:hover,
.cards .card button:hover {
  transform: scale(1.04, 1.1);
  color: var(--white-custom);
}
.visible {
  display: grid;
  align-items: center;
  justify-content: center;
}

.cards {
  margin: auto;
  padding: 25px 0 40px;
  width: 94%;
  max-width: 100%;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-auto-rows: 1fr;
}
.cards .card {
  padding: 25px 20px;

  background-color: var(--white-custom);
  border-radius: 5px;

  display: grid;
  gap: 17px;
}
.cards .card > * {
  word-break: break-all; 
}
.cards .card h2 {
  font-size: 1.64rem;
}
.cards .card h2 + p {
  /* First p (author) style */
  font-style: italic;
}
.cards .card p {
  font-size: 1.35rem;
}
.cards .card button {
  padding: 12px;
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;

  border: none;
  border-radius: 4px;

  background-color: #ef4444;
  color: var(--black-custom);

  transition: .5s;
}
.cards .card button.read {
  background-color: var(--green-custom);
}

button {
  cursor: pointer;
}

@media screen and (max-width:700px) {
  nav h1 {
    font-size: 2.35rem;
  }
  .cards {
    width: 77%;
    align-items: center;

    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .cards .card,
  form {
    max-width: 77vw;
  }
  form > * {
    margin-left: 0;
  }
  form input,
  form button {
    max-width: calc(77vw - calc(var(--form-padding-side) * 2));
  }
}